$headingFont:'Rouge Script',"cursive";
$paraFont:'Ibarra Real Nova',serif;

$red: #fb3958;
$yellow: #ffc838;
$green: #6dc993;
$blue: #458eff;
$lightBrown: #ded1c1;
$darkBrown: #9b6954;
$darkBlue: #125688;